{% extends 'base.html' %}
{% block title %} Password Reset Email {% endblock %}
{% block content %}
<section class="password_reset_done">
    <div class="container text-capitalize">
        <div class="row">
            <p class="text-black">
            You will receive an email with instructions for resetting your password, if there is an account registered
            with the entered email, you'll recieve the email shortly.
            </p>
            
            <p class="text-black">
            If you don't receive an email, please make sure you've entered the address you registered with,
            and check your spam folder.
        </div>
        </p>
    </div>
</section>
{% endblock %}