{% extends 'base.html'%}
{% load humanize %}

{% block title %} Welcome{% endblock %}

{% block content %} 
 <!-- Showcase -->
  <div class="text-center">
  {% include 'partials/_alerts.html' %}
 <section id="showcase">
  <div class="home-search p-5"> 
            <div class="overlay p-5">
              <h1 class="display-4 mb-4" style="color:#199908;">
                Property Search At Your Door Step
              </h1>
              <p class="lead text-capitalize"> Your new home is here. input Details in the fields 
              bellow to search for your new home any where in the world.
              Hit that search button and get the Latest available listings for sale.</p>
              <div class="search">
                <form action="{% url 'search' %}">
                  <!-- Form Row 1 -->
                  <div class="form-row">
                    <div class="col-md-4 mb-3">
                      <label class="sr-only">Keywords</label>
                      <input type="text" name="keywords" class="form-control" placeholder="Keyword (Pool, Garage, etc)">
                    </div>
    
                    <div class="col-md-4 mb-3">
                      <label class="sr-only">City</label>
                      <input type="text" name="city" class="form-control" placeholder="City">
                    </div>
    
                    <div class="col-md-4 mb-3">
                      <label class="sr-only">State</label>
                      <select name="state" class="form-control">
                        <option selected="true" disabled="disabled">State (All)</option>
                        {% for key,value in state_choices.items %}
                              <option value="{{key}}">{{value}}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                  <!-- Form Row 2 -->
                  <div class="form-row">
                    <div class="col-md-6 mb-3">
                      <label class="sr-only">Bedrooms</label>
                      <select name="bedrooms" class="form-control">
                        <option selected="true" disabled="disabled">Bedrooms (All)</option>
                        {% for key,value in bedroom_choices.items %}
                              <option value="{{ key }}">{{ value }}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="col-md-6 mb-3">
                      <select name="price" class="form-control" id="type">
                        <option selected="true" disabled="disabled">Max Price (Any)</option>
                        {% for key,value in price_choices.items %}
                              <option value="{{ key }}">{{ value }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                  <button class="btn btn-secondary mt-4" type="submit">Search</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
    <br>

      <!--Alerts-->
      {% include 'partials/_alerts.html' %}
      <!-- Listings -->
      <section id="listings" class="home-bottom py-5 text-capitalize">
        <div class="container">
          <h3 class="text-center mb-3" style="font-family:krinkes_decor_personal_useRg; color:#699e07;">Latest Listings</h3>
          <div class="row">
            {% if listings  %}
                {% for listing in listings %}
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="card listing-preview">
                      <img class="card-img-top" src="{{listing.photo_main.url}}" alt="">
                      <div class="card-img-overlay">
                        <h2>
                          <span class="badge badge-secondary" style="color:gold">${{listing.price | intcomma}}</span>
                        </h2>
                      </div>
                      <div class="card-body">
                        <div class="listing-heading text-center">
                          <h4 style="color: #199908">{{listing.title}}</h4>
                          <p>
                            <i class="fas fa-map-marker" style="color:green"></i> {{listing.city}} {{listing.state}} , {{listing.zipcode}} </p>
                        </div>
                        <hr>
                        <div class="row py-2">
                          <div class="col-6">
                            <i class="fas fa-th-large" style="color: olive"></i> Sqft:{{listing.sqft}} </div>
                          <div class="col-6">
                            <i class="fas fa-car" style="color: olive"></i> Garage:{{listing.garage}} </div>
                        </div>
                        <div class="row py-2">
                          <div class="col-6">
                            <i class="fas fa-bed" style="color: olive"></i> Bedrooms: {{listing.bedrooms}} </div>
                          <div class="col-6">
                            <i class="fas fa-bath" style="color: olive"></i> Bathrooms: {{listing.bathrooms}} </div>
                        </div>
                        <hr>
                        <div class="row py-2">
                          <div class="col-6">
                            <i class="fas fa-user" style="color: olive"></i>{{listing.realtor}} </div>
                        </div>
                        <div class="row pb-2">
                          <div class="col-6">
                            <i class="fas fa-clock" style="color: olive"></i> {{listing.list_date | timesince}} </div>
                        </div>
                        <hr>
                        <a href="{% url 'listing' listing.id %}" class="btn btn-secondary btn-block">Details</a>
                      </div>
                    </div>
                  </div>
                {% endfor %}
            {% else %}
            <div class="col-md-12">
              <p>No Listings Available</p>
            </div>
            {% endif %}
            
    
          </div>
        </div>
      </section>
    
      <section class="footer-top" style="color:rgb(0, 0, 0);">
        <div class="container">
          <div class="row text-center">
            <div class="col-md-4">
              <a href="{% url 'consult' %}"><i class="fas fa-comment fa-4x mr-4"></i><h3>Consulting Services</h3></a>
              <hr>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, debitis nam! Repudiandae, provident iste consequatur
                hic dignissimos ratione ea quae.</p>
            </div>
            <div class="col-md-4">
              <a href="#"><i class="fas fa-home fa-4x mr-4"></i><h3>Propery Management</h3></a>
              <hr>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, debitis nam! Repudiandae, provident iste consequatur
                hic dignissimos ratione ea quae.</p>
            </div>
            <div class="col-md-4">
              <a href="#"><i class="fas fa-suitcase fa-4x mr-4"></i><h3>Renting & Selling</h3></a>
              <hr>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, debitis nam! Repudiandae, provident iste consequatur
                hic dignissimos ratione ea quae.</p>
            </div>
          </div>
        </div>
      </section> 
{% endblock %}